* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #01002E, #721E73);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: azure;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    transform: translate(-50%, -50%);
    transition: width .5s, height .5s;
}

#imagem {
    background: linear-gradient(to top, #01002E, #721E73);
    background-image: url(image.jpg);
    background-size: cover;
    background-position: top;
    height: 220px;
    box-shadow: 0px 0px 10px #01002e88;
}

#formulario {
    padding: 20px;
}

#logo {
    max-width: 200px;
    transition: all .3s;
}

#formulario {
    margin-top: 12px;
    color: #01002E;
}

#formulario img {
    display: block;
    margin: auto;
    margin-top: -12px;
}

#formulario p {
    font-size: 0.8em;
    margin-top: 5px;
    text-align: center;
    color: #5c0a5d;
}

#entrar {
    display: block;
    width: 100%;
    margin-top: 15px;
    height: 35px;
    padding: 10px;
    border: none;
    background-color: #721E73;
    color: azure;
    font-weight: 600;
    border-radius: 5px;
    transition: all .3s;
}

#entrar:hover {
    cursor: pointer;
    background-color: #98299a;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #5c0a5d;
}

form input {
    height: 27px;
    border-color: #98299a;
    border: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #5c0a5d8b;
    padding: 10px 8px;
}

#name {
    margin-bottom: 10px;
}

label {
    font-weight: 700;
}

input:focus {
    outline: 2px solid #98299aa3; 
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 7px;
}